body {
  display: grid;
  justify-content: center;
  justify-items: center;
  gap: 25px;
}

.announce {
  font-size: large;
  font-weight: 700;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  margin: 0px;
  gap: 5px;
  background-color: black;
  padding: 0px;
  width: 310px;
}

.spot {
  /* border: 1px solid black; */
  background-color: white;
  font-size: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden,
.hidden * {
  display: none;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.names {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

button {
  flex: 0;
  width: 100px;
}
